/* 
Used to create css variables. Explained here:
https://www.w3schools.com/css/css3_variables.asp
*/
:root {
  --highlight-color: #f79d65;
}

nav {
  background-color: #f7b267;
  display: flex;
  justify-content: space-evenly;
  padding: 0.4rem;
}

nav > a {
  padding: 0.6rem;
  border: 1px solid #f25c54;
  border-radius: 10rem;
  text-decoration: none;
  color: #f25c54;
}

nav > a:hover {
  background-color: var(--highlight-color);
  color: #f25c54;
}

.nav-link-active {
  background-color: var(--highlight-color);
}
